
@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Plus D'information sur cet employé</h1>

<table class="table table-hover table-bordered table-triped">
    <tr>
        <td>@Html.DisplayNameFor(x => x.EmployeeId)</td>
        <td>@Html.DisplayFor(x => x.EmployeeId)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(x => x.EmployeeName)</td>
        <td>@Html.DisplayFor(x => x.EmployeeName)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(x => x.Salary)</td>
        <td>@Html.DisplayFor(x => x.Salary)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(x => x.Email)</td>
        <td>@Html.DisplayFor(x => x.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.BirthDate)</td>
        <td>@Html.DisplayFor(x => x.BirthDate)</td>
    </tr>
</table>

<a asp-action="Index" asp-controller="Employees"> Retour à La liste des Employées</a>

