@model Employee
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modifier Un employée</h1>
<form asp-action="Edit" asp-controller="Employees" method="post">
    @Html.HiddenFor(x => x.EmployeeId); 
    <table class="table table-hover table-bordered table-triped">

        <tr>
            <td>@Html.DisplayNameFor(x => x.EmployeeName)</td>
            <td>
                <input asp-for="EmployeeName" class="input-group" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(x => x.Salary)</td>
            <td>
                <input asp-for="Salary" class="input-group" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(x => x.Email)</td>
            <td>
                <input asp-for="Email" class="input-group" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.BirthDate)</td>
            <td>
                <input asp-for="BirthDate" class="input-group" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <div colspan="2">
        <input type="submit" value="Modifier" class="btn btn-outline-primary" />
        <a asp-action="Index" asp-controller="Employees" class="btn btn-success">Annuler</a>
    </div>
</form>
<p></p>
<div>
    <a asp-action="Index" asp-controller="Employees" class="btn btn-outline-info"> Retour à La liste des Employées</a>
</div>
<div class="text-right">
    <a asp-action="Index" asp-controller="Products" class="btn btn-outline-warning"> Retour à La page d'acceuil</a>
</div>