@model UseTemplate.Models.Slider

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SliderImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SliderImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BtnText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BtnText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BtnUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BtnUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
