@model IEnumerable<UseTemplate.Models.Slider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BtnText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BtnUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BtnText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BtnUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
