@model IEnumerable<Product>

@{
    ViewData["Title"] = "View";
}

<h1>Liste des Produit </h1>
<div>

</div>
<div class="text-right">
    <a asp-action="Create" asp-controller="Products" class="btn btn-outline-success">+ Nouveau Produit</a>
</div>
<p></p>
<table class="table table-hover table-bordered table-triped">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Id) </th>
        <th>@Html.DisplayNameFor(x => x.ProductName) </th>
        <th>@Html.DisplayNameFor(x => x.Price) </th>
        <th>@Html.DisplayNameFor(x => x.Quantity) </th>
        <th>Opérations </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.Id)</td>
            <td>@Html.DisplayFor(x => item.ProductName)</td>
            <td>@Html.DisplayFor(x => item.Price)</td>
            <td>@Html.DisplayFor(x => item.Quantity)</td>
            <td style="width:320px">
                <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-success">Détails</a>
                <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a>
                <a asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    }
</table>

